/.idea/
*__pycache__*

/data/ECFP/
/data/EVO10/
/data/GCF/

/build/
/EvoMol.egg-info/
/evomol/test/
/lib/
/.ipynb_checkpoints/

/examples/other_results
#/examples/qlearning/data/
#/examples/random/

/debug.py
/extract_descriptors.ipynb
/random_action.ipynb
/qlearning_script.py.lprof
