.idea
*__pycache__*

/data/
/examples/
/build/
/examples/
/EvoMol.egg-info/
/evomol/test/
/lib/
/.ipynb_checkpoints/

/debug.py
/extract_descriptors.ipynb
/random_action.ipynb
/qlearning_script.py
/qed_script.py
/initial_molecule.smi
/random_script.py
/qlearning_script.py.lprof
